<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.circle" android:versionCode="1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22" />
	<application></application>
</manifest>